<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header"></th:block>
</head>
<body>
	<div class="container">
		<th:block th:replace="fragments/navbar"></th:block>

		<div class="jumbotron">
			<p>
				Hello, this is the index page, <br> it is still in construction though. <br> Please come back later! :)
			</p>


			<!-- File upload -->
			<div th:if="${upload_message}">
				<h2 th:text="${upload_message}" />
			</div>


			<div>
				<form method="POST" enctype="multipart/form-data" action="/index">
					<table>
						<tr>
							<td>File to upload:</td>
							<td><input type="file" name="file" /></td>
						</tr>
						<tr>
							<td></td>
							<td><input type="submit" value="Upload" /></td>
						</tr>
					</table>
				</form>
			</div>
			
			<div align="center" th:if="${commonItemSet != null and !commonItemSet.empty}">
				<h2>Най-често достъпвани евенти</h2>	
				<table class="table table-striped">
					<tr>
						<th>#</th>
						<th>Евент</th>
						<th>Достъпваност спрямо потребители</th>
					</tr>
					<tr th:each="item, iter : ${commonItemSet}">
						<td th:text="${iter.index + 1}"></td>
						<td th:text="${item.eventContext}"></td>
						<td th:text="${item.percent} + '%'"></td>
					</tr>
				</table>
			</div>
			
			<div align="center" th:if="${rareItemSet != null and !rareItemSet.empty}">
				<h2>Най-рядко достъпвани евенти</h2>	
				<table class="table table-striped">
					<tr>
						<th>#</th>
						<th>Евент</th>
						<th>Достъпваност спрямо потребители</th>
					</tr>
					<tr th:each="item, iter : ${rareItemSet}">
						<td th:text="${iter.index + 1}"></td>
						<td th:text="${item.eventContext}"></td>
						<td th:text="${item.percent} + '%'"></td>
					</tr>
				</table>
			</div>
			
			<th:block th:replace="fragments/barGraph1"></th:block>
			
		</div>



	</div>

     
	<th:block th:replace="fragments/footer"></th:block>
</body>
</html>