<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header"></th:block>
</head>
<body>
	<div class="custom-shadows" th:include="fragments/navbar"></div>

	<div class="container jumbotron">
		<th:block th:replace="fragments/alert"></th:block>
		
		<!-- Custom upload file -->
		<div class="container mb-5">
			<form method="POST" action="/index" enctype="multipart/form-data">
				<p>Качете избраният от вас .csv лог файл</p>
				<div class="custom-file mb-3">
					<input type="file" class="custom-file-input" id="customFile" name="filename">
					<label class="custom-file-label" for="customFile">Избери лог файл</label>
					</div>
			    
				<div class="mt-3">
					<button type="submit" class="btn btn-primary">Качи</button>
				</div>
			</form>
		</div>

		<!-- Common Item Set List -->
		<th:block th:replace="fragments/itemset_list(itemset=${commonItemSet}, titleText=${commonItemSetTitle})"></th:block>
		
		<!-- Rare Item Set List -->
		<div class="mt-5" th:include="fragments/itemset_list(itemset=${rareItemSet}, titleText=${rareItemSetTitle})"></div>
		
		<!-- Rare Item Set List -->
		<th:block th:replace="fragments/bar_graph"></th:block>
		
		<div th:if="${(commonItemSet != null and !commonItemSet.empty) OR (rareItemSet != null and !rareItemSet.empty) OR (surveyMap != null and !surveyMap.empty)}" align="center" >
			<a class="btn btn-primary mt-4" download="results.txt" href="/download" role="button">Свали подробен анализ</a>
		</div>
	</div> <!-- /jumbotron -->

	</div> <!-- /container -->

	<th:block th:replace="fragments/footer"></th:block>
     
	<script>
		// the selected file's name to appear in the selection box
		$(".custom-file-input").on("change", function() {
		  var fileName = $(this).val().split("\\").pop();
		  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
		});
	</script>
</body>
</html>