<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>
    <th:block th:replace="fragments/header"></th:block>
</head>
<body>
	<header>
        <th:block th:replace="fragments/navbar"></th:block>
    </header>
    
	<div layout:fragment="content" class="container">
		<form th:action="@{/login}"  method="post">

			<div class="form-group">
				<label for="email" class="form-control-label">Email</label> <input
					type="text" class="form-control"  id="email" name="username" />
			</div>
			
			<div class="form-group">
				<label for="password" class="form-control-label">Password</label> <input
					type="password" class="form-control" 
					id="password"  name="password"/>
			</div>
			
			<input type="submit" value="Submit" class="btn btn-primary" />

		</form>
	</div>
	
	<footer>
	<th:block th:replace="fragments/footer"></th:block>
	</footer>
</body>
</html>