
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/header"></th:block>
</head>
<body>
	<th:block th:replace="fragments/navbar"></th:block>

	<div class="container jumbotron text-dark">

		<div align="center" th:if="${resourcesUsed != null and !resourcesUsed.empty}">
			<h2>Използвани ресурси</h2>	
			<table class="table table-striped">
				<tr>
					<th>#</th>
					<th>Линк</th>
				</tr>
				<tr>
					<td>1</td>
					<td>
						Aleksandar Kovachev: <a target="_blank" href="https://github.com/AleksandarKovachev/Article">Article</a> - a web-based application for managing the publishing processes in a scientific magazine. GutHub. July 2, 2018 
					</td>
				</tr>
				<tr>
					<td>2</td>
					<td>
						Alphabet Inc: <a href="https://www.google.com/" target="_blank">Google.com</a>
					</td>
				</tr>
				<tr>
					<td>3</td>
					<td>
						Basant kumar Hota: <a target="_blank" href="https://github.com/Java-Techie-jt/Spring-HighChart-Graph">Spring-HighChart-Graph</a>. Java Techie, GitHub. March 29, 2018
					</td>
				</tr>
				<tr>
					<td>4</td>
					<td>
						Daniel Morales: <a href="https://github.com/danielm/uploader">Uploader</a>. GitHub. January 16, 2018.
					</td>
				</tr>
				<tr>
					<td>5</td>
					<td>
						Eugen: <a href="https://www.baeldung.com/" target="_blank">Baeldung</a>
					</td>
				</tr>
				<tr>
					<td>6</td>
					<td>
						Eugen Hoble: <a href="https://dzone.com/articles/how-to-read-a-big-csv-file-with-java-8-and-stream">Dzone.com - Reading CSV file</a> by  Integration Zone, September 28, 2016.
					</td>
				</tr>
				<tr>
					<td>7</td>
					<td>
						Francis: <a href="https://github.com/sambaf/NHSystem">NHSystem</a>. GitHub. January 11, 2018.
					</td>
				</tr>
				<tr>
					<td>8</td>
					<td>
						Greg Turnquist: <a target="_blank" href="https://github.com/spring-guides/gs-uploading-files">ags-uploading-files</a>. Spring Guides, GitHub. August 12, 2019.
					</td>
				</tr>
				<tr>
					<td>9</td>
					<td>
						Guava's <a target="_blank" href="https://github.com/google/guava/wiki/NewCollectionTypesExplained#bimap">BiMap</a>. 
					</td>
				</tr>
				<tr>
					<td>10</td>
					<td>
						Jiawei Han, Jian Pei, Yiwen Yin, Runying Mao: <a href="https://www.cs.sfu.ca/~jpei/publications/sigmod00.pdf" target="_blank">Mining Frequent Patterns without Candidate Generation</a>: A Frequent-Pattern Tree Approach. Data Min. Knowl. Discov. 8(1): 53-87 (2004)
					</td>
				</tr>
				<tr>
					<td>11</td>
					<td>
						Mark Otto and Fat: <a href="https://getbootstrap.com/docs/4.0/" target="_blank">GetBootstrap - documentation</a>
					</td>
				</tr>
				<tr>
					<td>12</td>
					<td>
						Refsnes Data: <a href="https://www.w3schools.com/">W3Schools.com</a>
					</td>
				</tr>
				<tr>
					<td>13</td>
					<td>
						Sidney Tsang, Yun Sing Koh, Gillian Dobbie, <a hred="https://link.springer.com/chapter/10.1007/978-3-642-23544-3_21" target="_blank">RP-Tree: Rare Pattern Tree Mining</a>, International Conference of Data Warehousing and Knowledge Discovery, 277-288 (2011)
					</td>
				</tr>
				<tr>
					<td>14</td>
					<td>
						<a href="https://stackoverflow.com/" target="_blank">StackOverflow.com</a>
					</td>
				</tr>
				<tr>
					<td>15</td>
					<td>
						Takeaki Uno, Masashi Kiyomi and Hiroki Arimura (2004). <a href="http://www.philippe-fournier-viger.com/spmf/LCM2.pdf" target="_blank">LCM ver. 2: Efficient Mining Algorithms for Frequent/Closed/Maximal Itemsets</a>. Proc. IEEE ICDM Workshop on Frequent Itemset Mining Implementations Brighton, UK, November 1, 2004
					</td>
				</tr>
				<tr>
					<td>16</td>
					<td>
						<a href="https://www.thymeleaf.org/documentation.html">Thymeleaf - documentation</a>
					</td>
				</tr>
				<tr>
					<td>17</td>
					<td>
						Umesh Awasthi: <a href="https://www.javadevjournal.com/java/java-8-format-localdatetime/">JavaDevJournal.com - Java 8 – How to Format LocalDateTime</a> By Java Development Journal, November 30, 2018
					</td>
				</tr>
				<tr>
					<td>18</td>
					<td>
						<a href="https://unsplash.com/" target="_blank">Unsplash.com</a>
					</td>
				</tr>
				<tr>
					<td>19</td>
					<td>
						<a href="https://bg.wikipedia.org/wiki/%D0%98%D0%B7%D0%B2%D0%BB%D0%B8%D1%87%D0%B0%D0%BD%D0%B5_%D0%BD%D0%B0_%D0%B7%D0%BD%D0%B0%D0%BD%D0%B8%D1%8F_%D0%BE%D1%82_%D0%B4%D0%B0%D0%BD%D0%BD%D0%B8"> Wikipedia - Извличане на знания от данни </a>
					</td>
				</tr>
				<tr>
					<td>20</td>
					<td>
						Yong Mook Kim: <a href="https://www.mkyong.com/">Mkyong.com</a>
					</td>
				</tr>


			</table>
		</div>			

	</div> <!-- /jumbotron -->
		
	<th:block th:replace="fragments/footer"></th:block>

</body>
</html>