<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header"></th:block>
</head>
<body>
	<th:block th:replace="fragments/navbar"></th:block>
	<div class="container jumbotron">
		<th:block th:replace="fragments/alert"></th:block>
	
		<h5>Конфигурация на алгоритмите за анализ</h5>
	
		 <form th:action="@{/settings}" th:object="${algoSettings}" method="POST" class="mt-5">
		 	<input type="hidden" th:field="*{ID}" />
		 
		 	<!-- LCM options -->
			<div class="custom-control custom-switch">
				<input type="checkbox" class="custom-control-input" id="switch1" th:field="*{lcm}">
				<label class="custom-control-label" for="switch1">Често достъпвани събития</label>
			</div>
			<div class="form-inline ml-4 mt-1" id="switch-options-1">
				<label for="lcm-minsup">Минимална Подкрепа:</label>
				<input type="text"  th:field="*{lcmMinSup}" class="form-control ml-2" id="lcm-minsup" >
			</div>
			
			<!-- RPG options -->
			<div class="custom-control custom-switch mt-2">
				<input type="checkbox" class="custom-control-input" id="switch2" th:field="*{rpg}">
				<label class="custom-control-label" for="switch2">Рядко достъпвани събития</label>
			</div>
			<div id="switch-options-2" class="mt-1">
				<div class="form-inline ml-4 mb-1">
					<label for="rpg-minsup">Минимална Подкрепа:</label>
					<input type="text" class="form-control ml-2" id="rpg-minsup" th:field="*{rpgMinSup}">
				</div>
				<div class="form-inline ml-4">
					<label for="rpg-minraresup">Минимална Рядка Подкрепа:</label>
					<input type="text" class="form-control ml-2" id="rpg-minraresup" th:field="*{rpgMinRareSup}">
				</div>
			</div>
			
			<!-- VTSA options -->
			<div class="custom-control custom-switch mt-2">
				<input type="checkbox" class="custom-control-input" th:field="*{vtsa}" id="switch3">
				<label class="custom-control-label" for="switch3">Седмичен времеви трафик</label>
			</div>
			<div class="form-inline ml-4 mt-1" id="switch-options-3">
				<label for="vtsa-hourinterval">Hour Interval:</label>
					<input type="text" class="form-control ml-2" id="rpg-minraresup" th:field="*{vtsaHourInterval}">
			</div>
			
			<div class="mt-4">
				<button type="submit" class="btn btn-primary">Запази промените</button>
			</div>
		</form> 
			
	</div> <!-- /jumbotron -->

	<th:block th:replace="fragments/footer"></th:block>
	
	<script type="text/javascript">

		$(document).ready(function(){
		    function check() {
		        var $checkbox = $(this);
		        var num = $checkbox.attr('id').match(/switch([0-9]+)/)[1];
		        if ($checkbox.is(':checked')) {
		            $('#switch-options-' + num).show();
		        } else {
		            $('#switch-options-' + num).hide();
		        }
		    }
		    $('input[type=checkbox]').each(check)//.change(check);
		});

	    $('input[type=checkbox]').change(function() {
	        var num = $(this).attr('id').match(/switch([0-9]+)/)[1];
	        if (this.checked) {
	            $('#switch-options-' + num).show(350);
	        } else {
	            $('#switch-options-' + num).hide(350);
	        }
	    });
	</script>
</body>
</html>