<th:block th:fragment="bar_graph">
<div th:if="${vtsa_map != null and !vtsa_map.empty}">
	<div class="container">
		<h2 align="center">Времеви трафик</h2>
		<div id="container" style="width: 1000px; height: 400px; margin: 0 auto"></div>
	</div>
	<script src="/js/highcharts.js"></script>
	<script src="/js/highcharts.exporting.js"></script>
	
	<script th:inline="javascript">
    $(function(){
    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Общо потребление на системата спрямо дни от седмицата'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: [[${vtsa_map.keySet()}]],
            crosshair: true
        },
        yAxis: {
            min: 0,
            max:[[${vtsa_fragment_max_occurrence} + 1]],
            title: {
                text: 'Натовареност на системата'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:15px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} %</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Трафик',
            data: [[${vtsa_map.values()}]]
        }]
    });
    });
</script>
</div>
</th:block>