.custom-navbar {
	margin-bottom: 30px;
	box-shadow:0 .125rem .25rem rgba(0,0,0,.45)!important
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	/*background-color: #0356fc;*/
}

.custom-ul {
    list-style-type: disc !important;
    padding-left:1em !important;
    margin-left:1em;
}

.custom-nested-ul {
    list-style-type: circle !important;
    padding-left:1em !important;
    margin-left:1em;
}

.custom-note-ul {
    padding-left:1em !important;
    margin-left:1em;
}

.footer-text {
	text-align:center;
	color:#f8f9fa;
 	text-shadow: 1px 1px 2px #000000;
}


/* li a:hover:not (.active ) { } */

.active {
	font-weight: bold;
	font-size: 17px;
	/*background-color: #003fbd;*/
}


.bg-primary-2 {
	background-color:#42a5f5
}

body, html {
	height: 100%;
	background-image: url(/images/bg.jpg);
	background-color: #cccccc;
	background-repeat: repeat;
	background-size: cover;
}

