.custom-navbar {
	margin-bottom: 20px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	/*background-color: #0356fc;*/
}


/* li a:hover:not (.active ) { } */

.active {
	font-weight: bold;
	font-size: 17px;
	/*background-color: #003fbd;*/
}


.bg-primary-2 {
	background-color:#42a5f5
}





