<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/main_layout}" >
<head>
 <title>Index Page</title>
</head>
<body>

     <div  layout:fragment="content" class="container">
         <div>
         
            Възникна грешка: | <span th:text="${message}"></span> | <span th:text="${status}" class="text text-danger"></span>
         
         </div>
         <div>
           Моля, свържете се с нас и ни информирайте за стъпките довели до това поведение на системата: <a href="/about">контакти</a>
         </div>
     </div>
</body>
</html>